**/bin/Debug/
**/bin/Release/
/.vs/Owin-Auth/v16/*.suo
/Owin-Auth/App_Start/*.cs
/.vs/Owin-Auth/v16/Server/sqlite3/*.lock
/.vs/Owin-Auth/v16/Server/sqlite3/*.ide-shm
/.vs/Owin-Auth/v16/Server/sqlite3/*.ide-wal
/Owin-Auth/bin/*.dll
/Owin-Auth/bin/*.xml
/Owin-Auth/bin/*.config
/Owin-Auth/bin/*.pdb
/Owin-Auth/bin/roslyn/*.dll
/Owin-Auth/bin/roslyn/*.targets
/Owin-Auth/bin/roslyn/*.exe
/Owin-Auth/bin/roslyn/*.config
/Owin-Auth/bin/roslyn/*.rsp
/Owin-Auth/obj/Debug/*.CopyComplete
/Owin-Auth/obj/Debug/*.cache
/Owin-Auth/obj/Debug/*.dll
/Owin-Auth/obj/Debug/*.pdb
